absl-py==0.8.0
astor==0.8.0
attrs==19.3.0
autopep8==1.4.4
backports-abc==0.5
backports.functools-lru-cache==1.5
backports.shutil-get-terminal-size==1.0.0
backports.ssl-match-hostname==3.5.0.1
backports.weakref==1.0.post1
bleach==3.1.0
cached-property==1.3.1
certifi==2018.1.18
chardet==3.0.4
configobj==5.0.6
configparser==4.0.2
contextlib2==0.6.0.post1
cycler==0.10.0
decorator==4.4.1
defusedxml==0.6.0
dnspython==1.15.0
docker==2.5.1
docker-compose==1.17.1
docker-pycreds==0.2.1
dockerpty==0.4.1
docopt==0.6.2
entrypoints==0.3
enum34==1.1.6
funcsigs==1.0.2
functools32==3.2.3.post2
futures==3.3.0
gast==0.3.2
google-pasta==0.1.7
grpcio==1.23.0
h5py==2.10.0
idna==2.6
importlib-metadata==0.23
ipaddress==1.0.23
ipykernel==4.10.1
ipython==5.8.0
ipython-genutils==0.2.0
Jinja2==2.10.3
jsonschema==3.1.1
jupyter-client==5.3.4
jupyter-contrib-core==0.3.3
jupyter-contrib-nbextensions==0.5.1
jupyter-core==4.6.1
jupyter-highlight-selected-word==0.2.0
jupyter-latex-envs==1.4.6
jupyter-nbextensions-configurator==0.4.1
Keras==2.2.5
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
kiwisolver==1.1.0
lxml==4.4.1
Markdown==3.1.1
MarkupSafe==1.1.1
matplotlib==2.2.4
mistune==0.8.4
mock==3.0.5
more-itertools==5.0.0
nbconvert==5.6.1
nbformat==4.4.0
nltk==3.4.5
notebook==5.7.8
numpy==1.16.5
opencv-python==4.1.1.26
pandas==0.24.2
pandocfilters==1.4.2
pathlib2==2.3.5
pbr==3.1.1
pexpect==4.7.0
pickleshare==0.7.5
prometheus-client==0.7.1
prompt-toolkit==1.0.18
protobuf==3.9.1
psutil==5.4.2
psycopg2-binary==2.8.3
ptyprocess==0.6.0
pycairo==1.16.2
pycodestyle==2.5.0
pycrypto==2.6.1
Pygments==2.4.2
pygobject==3.26.1
pyparsing==2.4.2
pyparted==3.11.1
pyrsistent==0.15.5
python-apt==1.6.4
python-dateutil==2.8.0
python-Levenshtein==0.12.0
python-xapp==1.6.0
python-xlib==0.20
pytz==2019.2
pyxdg==0.25
PyYAML==5.1.2
pyzmq==18.1.0
regex==2019.8.19
requests==2.18.4
scandir==1.10.0
scikit-learn==0.20.4
scipy==1.2.2
seaborn==0.9.0
Send2Trash==1.5.0
setproctitle==1.1.10
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.12.0
sklearn==0.0
subprocess32==3.5.4
tensorboard==1.14.0
tensorflow==1.14.0
tensorflow-estimator==1.14.0
termcolor==1.1.0
terminado==0.8.2
testpath==0.4.2
texttable==0.9.1
tornado==5.1.1
tqdm==4.35.0
traitlets==4.3.3
urllib3==1.22
wcwidth==0.1.7
webencodings==0.5.1
websocket-client==0.44.0
Werkzeug==0.15.6
wrapt==1.11.2
youtube-dl==2019.11.5
zipp==0.6.0
